@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  justify-content: center;
  font-size: small;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.frontpage-header {
  font-family: Arial, sans-serif;
  font-size: x-large;
}

.frontpage-body {
  font-family: Arial, sans-serif;
  font-size: medium;
}
